<!-- Application Viewer Cmp -->
<template>
    <!--Loading icon-->
    <template if:true={isLoading}>
        <div class="slds-is-relative slds-p-around_x-large policySpinner">
            <lightning-spinner alternative-text="Loading" size="large" variant="brand"></lightning-spinner>
        </div>
    </template>

    <template if:true={showDataTable}>
        <div class="slds-border_bottom">
            <lightning-card variant="Narrow" title={label.AllJobPostingsLabel} icon-name="utility:preview">
                <div class="slds-scrollable dataTableSize">
                    <!--Create a data table to display Applications-->
                    <lightning-datatable
                            key-field="id"
                            data={allActiveApplications}
                            columns={columns}
                            hide-checkbox-column="true"
                            onrowaction={handleRowAction}>
                    </lightning-datatable>
                </div>
            </lightning-card>
        </div>
    </template>

    <template if:true={showApplicationsDataTable}>
        <div style="padding-top:50px">
            <lightning-card variant="Narrow" title={selectedJobPostingName} icon-name="utility:emoji">
                <div class="slds-scrollable dataTableSize">
                    <!--Create a data table to display Applications-->
                    <lightning-datatable
                            key-field="id"
                            data={selectedApplications}
                            columns={applicationColumns}
                            hide-checkbox-column="true">
                    </lightning-datatable>
                </div>
            </lightning-card>
        </div>
    </template>

    <template if:true={showNoDataMessage}>
        <div class="slds-p-around_large">
            <lightning-card variant="Narrow" title={label.NoDataLabel} icon-name="utility:info"></lightning-card>
        </div>
    </template>
</template>